*
!package.json
!package-lock.json
!.npmrc
!tsconfig.base.json
!apps
!apps/web
apps/web/node_modules
apps/web/.next
!packages
packages/*/node_modules
packages/*/dist
!data
data/*
!data/public
data/public/*
!data/public/seed-snapshot.json
!data/public/market-assets
**/node_modules
**/.git
**/*.log
